<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3477ae541c.js" crossorigin="anonymous"></script>
    <title>contact</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header class="header">
        <a href="#home" class="logo">Techy Software</a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#services">services</a>
            <a href="#contact">contact</a>
        </nav>
        <i class="fa-solid fa-bars"></i>
    </header>

    <div class="home" id="home">
        <div class="swiper home-slid">
            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <div class="image">
                        <img src="img0.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>Career</h3>
                        <p>Embark on a journey of mutual growth with our Company, where our success intertwines with yours.</p>
                        <a href="#" class="btn">get start</a>
                    </div>
                </div>

                <div class="swiper-slide box">
                    <div class="image">
                        <img src="img1.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>Internship</h3>
                        <p>Internship for freshers and students for career development (1 Month).</p>
                        <a href="#" class="btn">get start</a>
                    </div>
                    
                </div>

                <div class="swiper-slide box">
                    <div class="image">
                        <img src="img2.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>The Best Company Information</h3>
                        <p>We're In The Company Of Helping You Start Your Software Developement Journey</p>
                        <a href="#" class="btn">get start</a>
                    </div>
                    
                </div>


            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
    </div>


    <section class="about" id="about">
        <div class="heading">
            <h2>about Company</h2>
            <div></div>
        </div>

        <div class="box">
            <div class="image">
                <img src="about1.jpg" alt="image">
            </div>
            <div class="content">
                <h3>about Company</h3>
                <p>Transform your business digitally with our cutting-edge solutions, tailored to boost your online presence and drive unparalleled success. Step into a world where technology meets progress, and let Nexus Info be your partner in achieving new heights of digital growth.</p>
                <div>--ISetting standards and quality in web products</div>
                <div>--Elevating brands and fostering growth</div>
                <div>--providing a dynamic and personalized educational experience</div>
               
            </div>
        </div>
    </section>

    <section class="services" id="services">
        <div class="heading">
            <h2>our services </h2>
            <div></div>
        </div>

        <div class="row">
            <div class="box">
                <i class="fa-solid fa-briefcase"></i>
                <h3>
                    Business Websites
                </h3>
                <p>Elevate your online presence with custom-crafted websites that capture your vision and engage your audience.</p>
            </div>

            <div class="box">
                <i class="fa-solid fa-laptop"></i>
                <h3>
                    Educational Websites
                </h3>
                <p>Transform education in the digital age with platforms that facilitate learning and collaboration for institutions and educators.</p>
            </div>

            <div class="box">
                <i class="fa-solid fa-chart-column"></i>
                <h3>
                    Wordpress Developer
                </h3>
                <p>will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.</p>
            </div>

            <div class="box">
                <i class="fa-solid fa-database"></i>
                <h3>
                    Database Management
                </h3>
                <p>our Databases Are At The Core Of Your Business. Whether You’re Operating On-Premises Or In The Cloud, Using A Traditional Or Open-Source Platform, Our Global Experts Are Available Around The Clock To Help You Turn Your Databases Into A Business Differentiator.</p>
            </div>

            <div class="box">
                <div class="content">
                    <i class="fa-solid fa-laptop"></i>
                    <h3>
                        Machine Learning Solutions
                    </h3>
                </div>
                <p>Artificial Intelligence & Machine Learning Offerings Help Organizations Build Highly-Customized Solutions Running On Advanced Machine Learning Algorithms</p>
            </div>

            <div class="box">
                <div class="content">
                    <i class="fa-solid fa-laptop"></i>
                    <h3>
                        Java Programming
                    </h3>
                </div>
                <p>Master The Fundamentals Of Programming In Java From The Comfort Of Your Home And Get Certified To Apply For Great Job Opportunities</p>
            </div>
        </div>
    </section>


    <section class="contact" id="contact">
        <div class="heading">
            <h2 class="head">contact us</h2>
            <div></div>
        </div>
        <div class="box">
            <div class="content">
                <i class="fa-solid fa-mobile-screen"></i>
                <div>call: +9289930212</div>
                <div>monday-friday (9am-6pm) </div>
            </div>
            <div class="content">
                <i class="fa-solid fa-envelope"></i>
                <div>email: Techy@gmail.com</div>
                <div>web: www.TechySoftware.com</div>
            </div>
            <div class="content">
                <i class="fa-solid fa-location-dot"></i>
                <div>location: Pune Maharashtra</div>
                <div>Maharashtra</div>
            </div>
        </div>
        <div class="row">
            <div class="ifarm">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121901.79953533027!2d73.86352454500062!3d18.523587245704444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf2e67461101%3A0x828d43bf9d9ee343!2sPune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1705830097029!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                
            </div>

        <div class="form-c">
            <form action="/contact", method="post">
                <input type="text" id="name" name="name" placeholder="Enter your name" required autocomplete="off">
                <input type="email" id="email" name="email" placeholder="email" required autocomplete="off">
                <input type="number" id="mobile" name="mobile" placeholder="mobile" required autocomplete="off">
                <textarea name="message" id="message" placeholder="textarea" cols="30" rows="10"></textarea>
                <input type="submit" value="send message">
            </form>
        </div>
    </div>
</section>


<footer class="footer">
    <div class="content">
        <h3>Company</h3>
        <p>We Develop Personalized Software At Our Company, We Turn The Digital Dreams Of Our Clients Into A Reality. We Work Closely With Our Users Throughout Development To Ensure That We Are Still Aligned With The End-Goal. We Are Committed To Producing Exceptional Software For Each Of Our Clients.</p>
        <div class="shar">
            <i class="fa-brands fa-facebook">
            </i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>

    <div class="link">
        <h3>links</h3>
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#services">services</a>
        <a href="#contact">contact</a>
    </div>

    <div class="our-servis">
        <h3>services</h3>
        <a href="#"> Database Management</a>
        <a href="#">Web Development</a>
        <a href="#">Wordpress Developer</a>
        <a href="#">Java Programming</a>
        <a href="#"> Machine Learning Solutions</a>
        <a href="#">Web Design</a>
    </div>

    <div class="Ournews">
        <h3>join us</h3>
        <p>clin on link to fill your details</p>
</footer>
     

<section class="feedback" id="feedback">
    <div class="heading">
        <h2 class="headee">fill your feedback</h2>
        <div></div>
    </div>
    <div class="row">
        <div class="form-c">
            <form action="/feedback", method="post">
                <label for="email">Your Email:</label>
               <input type="email" id="email" name="email" required>

                 <label for="rating">Rate Your Experience (1-5):</label>
                <input type="number" id="rating" name="rating" min="1" max="5" required>

                <label for="comments">Comments and Suggestions:</label>
                <textarea id="comments" name="comments" rows="4" required></textarea>

               <button type="submit">Submit Feedback</button>
            </form>
        </div>
        </div>
</section>

     <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>
        let Navbar = document.querySelector('.navbar');
        let Fabars = document.querySelector('.fa-bars');

              Fabars.onclick = () =>{
              Navbar.classList.toggle("active")
            };

           var swiper = new Swiper(".home-slid", {
          navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev",
       },
     });
    </script>
</body>
</html>